body{
    margin:0
}

#wrap{
    width:1000px;
    margin:0 auto;
    position:relative;
}
#header{
    width:100%;
    padding: 20px 0;
    position:sticky;
    top:0;
    z-index: 1000;
    background:white;
}
.logoWrap{width:100px; height :50px;}
.menuWrap{
    position:absolute;
    left:120px;
    top:0;
}
.nav{
    position:relative;
    line-height:90px;
}
.menu{
    width:100px;
    position:absolute;
}
.nav .menu:nth-child(2){
    left:100px;
}
.nav .menu:nth-child(3){
    left:200px;
}
.nav .menu:nth-child(4){
    left:300px;
}
.nav .menu:nth-child(5){
    left:400px;
}
.nav .menu:nth-child(6){
    left:520px;
}
#main{
    position:relative;
    width:100%
}
#main .content:nth-child(2){
    position:relative;
}

#foot{
    width:100%;
    padding:50px;
    background:darkblue;
    color:azure;
}