/* 서브페이지 3번째 도안 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 30px 50px;
gap: 30px;

position: relative;
width: 1920px;
height: 1200px;

background: #FFFFFF;


/* 헤더(로그인,로고,이미지) */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px;
gap: 10px;

width: 1920px;
height: 50px;

background: #D9D9D9;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 왼쪽 상단 로고 박스 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

margin: 0 auto;
width: 120px;
height: 24px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 로고 자리 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 120px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* line-md:search */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;



/* Vector */

position: absolute;
left: 12.5%;
right: 56.25%;
top: 56.25%;
bottom: 12.5%;

border: 2px solid #000000;


/* Vector */

position: absolute;
left: 37.5%;
right: 12.5%;
top: 12.5%;
bottom: 37.5%;

border: 2px solid #000000;


/* 중앙 상단 타이틀 박스 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

margin: 0 auto;
width: 500px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 텍스트 박스 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 500px;
height: 30px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* APPLE SEARCH PAGE */

width: 123px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 오른쪽 상단 텍스트 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 0px 15px;
gap: 30px;

margin: 0 auto;
width: 150px;
height: 15px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 로그인 */

width: 34px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 회원가입 */

width: 45px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 메인(타이틀, 제품, 가구배치이미지) */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 57px;

width: 1820px;
height: 1060px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* 타이틀 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 150px;

width: 1820px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* #이케아로꾸민우리집 */

width: 358px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 54 */

width: 1549px;
height: 950px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 제품 상세 */

position: absolute;
width: 750px;
height: 945px;
left: 799.5px;
top: 5px;



/* 제품 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
align-content: flex-start;
padding: 15px 0px;
gap: 0px 6px;

position: absolute;
width: 670px;
height: 235px;
left: 40.5px;
top: 471.5px;

border-bottom: 1px solid rgba(0, 0, 0, 0.3);


/* Frame 44 */

width: 135px;
height: 135px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 163669805553651444 1 */

position: absolute;
width: 147px;
height: 147px;
left: 3px;
top: 0px;

background: url(163669805553651444.png);
border-radius: 30px;


/* Frame 45 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 368px;
height: 146px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* DALSHULT 달스훌트 */

width: 368px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 테이블, 185x90 cm */

width: 277px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 종류 의자, 책상, 책장, 서랍 */

width: 358px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 46 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 0px;
gap: 10px;

width: 50px;
height: 235px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 찜버튼 */

margin: 0 auto;
width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* el:heart-alt */

position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* 제품 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
align-content: flex-start;
padding: 15px 0px;
gap: 0px 6px;

position: absolute;
width: 670px;
height: 235px;
left: 40.5px;
top: 706.5px;

border-bottom: 1px solid rgba(0, 0, 0, 0.3);


/* Frame 44 */

width: 135px;
height: 135px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 163669805553651444 1 */

position: absolute;
width: 147px;
height: 147px;
left: 3px;
top: 0px;

background: url(163669805553651444.png);
border-radius: 30px;


/* Frame 45 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 368px;
height: 146px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* DALSHULT 달스훌트 */

width: 368px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 테이블, 185x90 cm */

width: 277px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 종류 의자, 책상, 책장, 서랍 */

width: 358px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 46 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 0px;
gap: 10px;

width: 50px;
height: 235px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 찜버튼 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 0px;
gap: 10px;

margin: 0 auto;
width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* el:heart-alt */

margin: 0 auto;
width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* 제품 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
align-content: flex-start;
padding: 15px 0px;
gap: 0px 6px;

position: absolute;
width: 670px;
height: 235px;
left: 40.5px;
top: 236.5px;

border-bottom: 1px solid rgba(0, 0, 0, 0.3);


/* Frame 44 */

width: 135px;
height: 135px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 163669805553651444 1 */

position: absolute;
width: 147px;
height: 147px;
left: 3px;
top: 0px;

background: url(163669805553651444.png);
border-radius: 30px;


/* Frame 45 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 368px;
height: 146px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* DALSHULT 달스훌트 */

width: 368px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 테이블, 185x90 cm */

width: 277px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 종류 의자, 책상, 책장, 서랍 */

width: 358px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 46 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 0px;
gap: 10px;

width: 50px;
height: 235px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 찜버튼 */

margin: 0 auto;
width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* el:heart-alt */

position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* 제품 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
align-content: flex-start;
padding: 15px 0px;
gap: 0px 6px;

position: absolute;
width: 670px;
height: 235px;
left: 40px;
top: 0px;

border-bottom: 1px solid rgba(0, 0, 0, 0.3);


/* Frame 44 */

width: 135px;
height: 135px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 163669805553651444 1 */

position: absolute;
width: 147px;
height: 147px;
left: 3px;
top: 0px;

background: url(163669805553651444.png);
border-radius: 30px;


/* Frame 45 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 368px;
height: 146px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* DALSHULT 달스훌트 */

width: 368px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 테이블, 185x90 cm */

width: 277px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 종류 의자, 책상, 책장, 서랍 */

width: 358px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 46 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 0px;
gap: 10px;

width: 50px;
height: 235px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 찜버튼 */

margin: 0 auto;
width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* el:heart-alt */

position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* 가구배치이미지 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 742px;
height: 904px;
left: 0px;
top: 0px;

background: url(.jpg);
border-radius: 30px;


/* 슬라이드 표시 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 30px;

width: 200px;
height: 41px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 6 */

width: 20px;
height: 20px;

background: #FFFFFF;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 7 */

width: 20px;
height: 20px;

background: #FFFFFF;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 8 */

width: 20px;
height: 20px;

background: #FFFFFF;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 9 */

width: 20px;
height: 20px;

background: #FFFFFF;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
